

.App {
    display: flex;
    flex-direction: row;
}


.todoList {
  width: 300px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}
.todoList-header-title {
    display: flex;
    justify-content: space-between;
    margin-right: 95px;
    align-items:center;
}
.todoList-header-title button{
    width: 30px;
    height: 25px;
}

.todoList-task {

}
.filter-active {
  background-color: darkcyan;
 }
.error {
    border-color: red;
}


.todoList-task.done {
    opacity: 0.5;
}

